.productos{
overflow: hidden;
border: solid 1px white;
width: 400px;
height:250px;
text-align: center;
line-height: 250px;
font-size: 60px;
color: rgb(11, 11, 11);
position:relative;

}

.productosImg{
    object-fit: cover;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    /* opacity: 0.6; */

    left: 0;

}

.productos h4{
    color: rgb(8, 3, 0);
    z-index: 50;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 50px;
    background-color: rgba(249, 246, 246, 0.644);

}