.divFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;

}

.containerFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.containerFooter h2 {
    color: rgb(234, 228, 233);
    font-style: oblique;
    font-size: 20px;
    text-align: center;
}


.imgFooter {
    width: 500px;
    height: auto;

}

.footer-table-container {
    width: 100%;
    overflow-x: auto;
  }
  
  .footer-table {
    width: 50%;
    border-collapse: collapse;
  }
  
  .footer-table th,
  .footer-table td {
    padding: 4px; /* Reduce el espacio de relleno aún más */
    text-align: center;
  }

  th{
    color: rgb(230, 166, 243);
  }

  td{
    color: aliceblue;
  }
  
