@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&family=Gorditas&family=Lilita+One&family=Sevillana&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*:focus {
  outline: none !important;
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}