@import url('https://fonts.googleapis.com/css2?family=Gorditas&family=Sevillana&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*:focus {
  outline: none !important;
  border-color: inherit !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}